<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

  <arg name="robot_name" default="alpha"/>
  <arg name="robot_version" default="v1-1"/>

  <include file="$(find alpha_bringup)/launch/include/driver.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_version" default="$(arg robot_version)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/dvl.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/imu.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/gps.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/rf_teleop.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/description.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_version" default="$(arg robot_version)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/localization.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/control.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_version" default="$(arg robot_version)"/>
  </include>

</launch>
