<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="alpha"/>

  <include file="$(find alpha_driver)/launch/driver.launch">
    <arg name="port" value="/dev/pico"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/dvl.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/imu.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_bringup)/launch/include/gps.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find alpha_rf_teleop)/launch/rf_teleop_vehicle.launch"/>

</launch>
