<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="alpha"/>

    <!--
        List of the simulated worlds in the 'alpha_stonefish'
    -->
    <arg name="scenario" default="ocean"/>

    <include file="$(find alpha_stonefish)/launch/alpha_simulation.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="scenario" value="$(arg scenario)"/>
    </include>

    <include file="$(find alpha_bringup)/launch/include/control.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <include file="$(find alpha_bringup)/launch/include/description.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <include file="$(find alpha_bringup)/launch/include/localization.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="is_sim" value="true"/>
    </include>

    <include file="$(find alpha_bringup)/launch/bringup_helm.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find alpha_description)/rviz/config.rviz"/>

</launch>
