<?xml version="1.0" encoding="utf-8" ?>
<launch>

    <arg name="robot_name" default="alpha"/>

    <node pkg="alpha_control" type="alpha_control_ros_node" name="alpha_control" output="screen">
        <rosparam command="load" file="$(find alpha_control)/config/allocation_auto.yaml"/>
        <rosparam command="load" file="$(find alpha_control)/config/mappings.yaml"/>
        <rosparam command="load" file="$(find alpha_control)/config/modes.yaml"/>
        <rosparam command="load" file="$(find alpha_control)/config/thrusters.yaml"/>
    </node>

</launch>