<?xml version="1.0"?>
<launch>

  <!-- Joystick -->
  <arg name="robot_name" default="alpha"/>

  <group ns="$(arg robot_name)">
    <arg name="joystick_device" default="/dev/input/js0"/>
    <node name="joystick" pkg="joy" type="joy_node">
      <param name="dev" value="$(arg joystick_device)"/>
      <param name="dev_ff" value=""/>
      <param name="deadzone" value="0.05"/>
    </node>

    <node name="logitech_fx10_to_teleoperation" pkg="cola2_control" type="logitech_fx10_to_teleoperation_node.py">
      <rosparam command="load" file="$(find alpha_teleop)/config/logitech_fx10_to_teleoperation.yaml"/>
    </node>

    <node name="teleoperation" pkg="cola2_control" type="teleoperation_node.py" output="screen">
      <rosparam command="load" file="$(find alpha_teleop)/config/teleoperation.yaml"/>
    </node>
  </group>
</launch>
