<?xml version="1.0"?>
<launch>

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="autorepeat_rate" value="10"/>
    <param name="coalesce_interval" value="0.10"/>
  </node>

  <rosparam ns="teleop" file="$(find alpha_teleop)/config/config.yaml" command="load"/>
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop"/>

</launch>
