generator_type: tf

controller_frequency: 10

tf_prefix: alpha

cg_link: cg_link

world_link: world_ned

odometry_source: /odometry/filtered/local

enabled: true

control_modes:
  idle: false

  teleop:
    surge:      {p: 1.0,  i: 3.0,   d: 5.0,  i_max: 10, i_min: -10}
    yaw_rate:   {p: 2.0,  i: 0.5,   d: 3.0,  i_max: 20, i_min: -20}
    pitch_rate: {p: 2.0,  i: 0.5,   d: 3.0,  i_max: 20, i_min: -20}

  flight:
    z:        {p: 10.0,    i: 0.1 ,  d: 20.0,  i_max: 20, i_min: -20}
    surge:    {p: 10.0,    i: 5.0,   d: 5.0,   i_max: 30, i_min: -30}
    pitch:    {p: 10.0,    i: 0.0,   d: 10.0,  i_max: 20, i_min: -20}
    yaw:      {p: 15.0,    i: 1.0,   d: 10.0,  i_max: 20, i_min: -20}

  hold:
    x:        {p: 2.5,    i: 1.0,   d: 5.0,  i_max: 10, i_min: -10}
    y:        {p: 2.5,    i: 1.0 ,  d: 5.0,  i_max: 10, i_min: -10}
    z:        {p: 10.0,   i: 0.1 ,  d: 20.0, i_max: 20, i_min: -20}

  hold2:
    x:        {p: 2.5,    i: 1.0,   d: 5.0,  i_max: 10, i_min: -10}
    y:        {p: 2.5,    i: 1.0 ,  d: 5.0,  i_max: 10, i_min: -10}
    z:        {p: 10.0,   i: 1.0 ,  d: 5.0,  i_max: 20, i_min: -20}
    pitch:    {p: 10.0,   i: 0.01,  d: 5.0,  i_max: 20, i_min: -20}

  hold3:
    x:        {p: 2.5,    i: 1.0,   d: 5.0,  i_max: 10, i_min: -10}
    y:        {p: 2.5,    i: 1.0 ,  d: 5.0,  i_max: 10, i_min: -10}
    z:        {p: 10.0,   i: 1.0 ,  d: 5.0,  i_max: 20, i_min: -20}
    pitch:    {p: 10.0,   i: 0.01,  d: 5.0,  i_max: 20, i_min: -20}
    yaw:      {p: 10.0,   i: 0.2,   d: 5.0,  i_max: 20, i_min: -20}

##
# THRUSTERS
##
thruster_ids:
  - surge
  - sway_bow
  - heave_bow
  - heave_stern

control_tf:
  surge: surge_thruster_link
  sway_bow: sway_bow_thruster_link
  heave_bow: heave_bow_thruster_link
  heave_stern: heave_stern_thruster_link

thruster_command_topics:
  surge: control/thruster/surge
  sway_bow: control/thruster/sway_bow
  heave_bow: control/thruster/heave_bow
  heave_stern: control/thruster/heave_stern

thruster_force_topics:
  surge: control/force/surge
  sway_bow: control/force/sway_bow
  heave_bow: control/force/heave_bow
  heave_stern: control/force/heave_stern


##
# Polynomials for each thruster.
#
# Quadratic Programming Optimization computes the thrust
# required. We need to turn that number into thruster command.
# Setpoint commands in this system defined between -1 and 1.
#
# y axis of the polynomial , f(x) = y, should be in Newton.
#
# Take the polynomial
# f(x) = a_n x^n + a_(n-1) x^(n-1) + ... + a_1 x + a_0
#
# Array would hold the lower degrees in lower indexes. Shown below:
# [a_0, a_1, ... ,a_(n-1), a(n)]
#   f(x) = a5*x^5 + a4*x^4 + a3*x^3 + a2*x^2 + a1*x + a0
#
# For T200 bluerobotics thrusters:
# Curve fitting results:
#   a0 =      0.06165
#   a1 =      20.32
#   a2 =      9.632
#   a3 =      93.05
#   a4 =      -2.856
#   a5 =      -74.1
#
# For T500 bluerobotics thrusters:
# Curve fitting results:
#   a0 =      -0.03703
#   a1 =      4.217
#   a2 =      2.84
#   a3 =      4.976
#   a4 =      -0.4119
#   a5 =      -0.8448
#
##
thruster_polynomials:
  surge:        [0.5038, 31.49, 29.78, 139.5, -18.66, -113.1]
  sway_bow:     [0.06165, 20.32, 9.632, 93.05, -2.856, -74.1]
  heave_bow:    [0.06165, 20.32, 9.632, 93.05, -2.856, -74.1]
  heave_stern:  [0.06165, 20.32, 9.632, 93.05, -2.856, -74.1]

## Force limits
thruster_limits:
  surge:
    max: 50
    min: -30
  sway_bow:
    max: 35
    min: -35
  heave_bow:
    max: 40
    min: -40
  heave_stern:
    max: 40
    min: -40