<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="alpha"/>

  <node
    name="world2ned"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0 0 0 1.570796327 0 3.141592653589793 $(arg robot_name)/odom world_ned"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find alpha_description)/urdf/base.urdf.xacro'"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
  </node>


</launch>
