<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="changeme"/>

  <!-- x y z yaw pitch roll frame_id child_frame_id -->
  <node
      ns="$(arg robot_name)"
      name="world2ned"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="0.0 0.0 0.0 1.570796327 0.0 3.141592653589793 $(arg robot_name)/world $(arg robot_name)/world_ned"/>
  <node
      ns="$(arg robot_name)"
      name="odom2world"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="0.0 0.0 0.0 0.0 0.0 0.0 $(arg robot_name)/odom $(arg robot_name)/world"/>

  <param
      name="$(arg robot_name)/robot_description"
      command="$(find xacro)/xacro '$(find alpha_description)/urdf/base.urdf.xacro'"/>

  <node ns="$(arg robot_name)" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="prefix" value="$(arg robot_name)"/>
    <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
  </node>

</launch>
