<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <node ns="alpha" pkg="alpha_rf_teleop" type="alpha_rf_teleop_node" name="rf_teleop" output="screen" respawn="true">
        <remap from="thrust_cmd" to="thrust_cmd"/>
        <remap from="gps" to="fix"/>
        <remap from="nmea" to="incoming_raw_nmea"/>
        <param name="port" value="/dev/ttyUSB0"/>
    </node>

</launch>