<?xml version="1.0"?>
<launch>

    <arg name="robot_name" default="alpha"/>
    <arg name="test_name" default="test_1" />

    <node pkg="alpha_maneuverability_test" type="tester" name="tester" output="screen" ns="$(arg robot_name)">
        <param name="config_file" value="$(find alpha_maneuverability_test)/config/$(arg test_name).yaml"/>
    </node>

</launch>