<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <!-- <node name="world2sim" pkg="tf2_ros" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 3.141592653589793 world world_sim"/> -->

    <param name="use_sim_time" type="boolean" value="true"/>

    <arg name="scenario" default="ocean"/>

    <arg name="robot_name" default="changeme"/>

    <arg name="data_path" default="$(find alpha_stonefish)/data"/>
    <arg name="simulation_rate" default="100.0"/>
    <arg name="graphics_resolution" default="1200 800"/>
    <arg name="graphics_quality" default="low"/>

    <node
        name="stonefish_simulator"
        pkg="stonefish_mvp"
        type="parsed_simulator"
        args="$(arg data_path) $(arg simulation_rate) $(arg graphics_resolution) $(arg graphics_quality)"
        output="screen">
        <param
            name="scenario_description"
            command="$(find xacro)/xacro robot_name:=$(arg robot_name) '$(find alpha_stonefish)/scenarios/$(arg scenario).scn.xacro'"/>

    </node>

</launch>