<?xml version="1.0"?>
<launch>

    <!-- Run Simulator -->
    <include file="$(find stonefish_mvp)/launch/simulator.launch">
        <arg name="simulation_data" value="$(find alpha_stonefish)/data"/>
        <arg name="scenario_description" value="$(find alpha_stonefish)/scenarios/alpha.scn"/>
        <arg name="simulation_rate" value="100.0"/>
        <arg name="graphics_resolution" value="1200 800"/>
        <arg name="graphics_quality" value="low"/>
    </include>

</launch>