<?xml version="1.0"?>
<robot name="micro_uuv" xmlns:xacro="http://ros.org/wiki/xacro">


    <link name="base_link">
        <visual>
            <origin xyz="-0.045 0.0 -0.13" rpy="0.0 1.57079632679 1.57079632679"/>

            <geometry>
                <mesh filename="package://alpha_description/mesh/alpha.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>


    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.223 0.000 -0.11" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>

    <link name="imu"/>
    <joint name="imu_joint" type="fixed">
        <origin xyz="0.0465 0.060 -0.14648" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="imu"/>
    </joint>

    <link name="gps"/>
    <joint name="gps_joint" type="fixed">
        <origin xyz="-0.110 0.0 -0.337241" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="gps"/>
    </joint>

    <link name="pressure"/>
    <joint name="pressure_joint" type="fixed">
        <origin xyz="-0.087845 0.060 -0.124465" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="pressure"/>
    </joint>

    <link name="usb_cam"/>
    <joint name="usb_cam_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 3.14159265359"/>
        <parent link="base_link"/>
        <child link="usb_cam"/>
    </joint>

    <link name="dvl"/>
    <joint name="dvl_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 3.14159265359"/>
        <parent link="base_link"/>
        <child link="dvl"/>
    </joint>

    <link name="dvl_altitude"/>
    <joint name="dvl_altitude_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 -1.57079632679 0"/>
        <parent link="dvl"/>
        <child link="dvl_altitude"/>
    </joint>

    <link name="main_thruster_link"/>
    <joint name="main_thruster_joint" type="fixed">
        <origin xyz="-0.297 0.0 -0.130" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="main_thruster_link"/>
    </joint>

    <link name="vertical_thruster_link"/>
    <joint name="vertical_thruster_joint" type="fixed">
        <origin xyz="0.612 0.0 -0.029" rpy="0.0 1.57079632679 0.0"/>
        <parent link="base_link"/>
        <child link="vertical_thruster_link"/>
    </joint>

    <link name="horizontal_thruster_link"/>
    <joint name="horizontal_thruster_joint" type="fixed">
        <origin xyz="0.691 -0.118 -0.125" rpy="0.0 0.0 1.57079632679"/>
        <parent link="base_link"/>
        <child link="horizontal_thruster_link"/>
    </joint>

</robot>
