<?xml version="1.0"?>
<robot name="micro_uuv" xmlns:xacro="http://ros.org/wiki/xacro">


    <link name="base_link">
        <visual>
            <origin xyz="0.155 0.0 0.65" rpy="1.571 0.0 3.1415"/>
            <geometry>
                <mesh filename="package://alpha_description/mesh/alpha_v1-1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>


    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.100 0.000 0.10" rpy="3.14159265359 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>

    <link name="imu"/>
    <joint name="imu_joint" type="fixed">
        <origin xyz="-0.0465 0.060 0.14648" rpy="3.14159265359 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu"/>
    </joint>

    <link name="gps"/>
    <joint name="gps_joint" type="fixed">
        <origin xyz="0.1 0.0 0.407241" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="gps"/>
    </joint>

    <link name="pressure"/>
    <joint name="pressure_joint" type="fixed">
        <origin xyz="-0.187845 -0.060 0.124465" rpy="0.0 3.14159265359 0.0"/>
        <!--origin xyz="-0.087845 0.060 -0.124465" rpy="0.0 0.0 0.0"/-->
        <parent link="base_link"/>
        <child link="pressure"/>
    </joint>

    <link name="usb_cam"/>
    <joint name="usb_cam_joint" type="fixed">
        <origin xyz="-0.112533 0.0 0.0" rpy="0.0 0.0 3.14159265359"/>
        <parent link="base_link"/>
        <child link="usb_cam"/>
    </joint>

    <link name="dvl"/>
    <joint name="dvl_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="3.14159265359 0 0"/>
        <parent link="base_link"/>
        <child link="dvl"/>
    </joint>

    <link name="dvl_altitude"/>
    <joint name="dvl_altitude_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 1.57079632679 0"/>
        <parent link="dvl"/>
        <child link="dvl_altitude"/>
    </joint>

    <link name="surge_thruster_link"/>
    <joint name="surge_thruster_joint" type="fixed">
        <origin xyz="-0.554 0.0 0.100" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="surge_thruster_link"/>
    </joint>

    <link name="heave_bow_thruster_link"/>
    <joint name="heave_bow_thruster_joint" type="fixed">
        <origin xyz="0.48735 0.0 0.089" rpy="0.0 -1.57079632679 0.0"/>
        <parent link="base_link"/>
        <child link="heave_bow_thruster_link"/>
    </joint>

    <link name="heave_stern_thruster_link"/>
    <joint name="heave_stern_thruster_joint" type="fixed">
        <origin xyz="-0.28045 0.0 0.089" rpy="0.0 -1.57079632679 0.0"/>
        <parent link="base_link"/>
        <child link="heave_stern_thruster_link"/>
    </joint>

    <link name="sway_bow_thruster_link"/>
    <joint name="sway_bow_thruster_joint" type="fixed">
        <origin xyz="0.57635 0.0 0.105" rpy="0.0 0.0 -1.57079632679"/>
        <parent link="base_link"/>
        <child link="sway_bow_thruster_link"/>
    </joint>

    <link name="multibeam"/>
    <joint name="multibeam_joint" type="fixed">
        <origin xyz="0.0 0.0 0.2" rpy="3.1416 1.0471975511965976 0.0"/>
        <parent link="base_link"/>
        <child link="multibeam"/>
    </joint>

</robot>
